body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a0a0a0;
  text-align: center;
  padding: 20px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 500px;
  margin: auto;
}

h1, h2 {
  color: green;
}

.button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: green;
}

.image {
  max-width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}

.correct {
  color: green;
  font-weight: bold;
}

.wrong {
  color: red;
  font-weight: bold;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: green;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
